/* @charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
} */
/* 
header {
  width: 1440px;
  height: 150px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

header img {
  position: absolute;
  width: 194px;
  height: 82px;
  right: 66vh;
  top: 20%;
}

#tnb {
  display: flex;
  column-gap: 1rem;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  color: #9a9a9a;
}

#gnb {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  background:  rgb(160, 155, 222);
}

#gnb > li > a {
	font-weight: bold;
  display: block;
  background: rgb(160, 155, 222);
  color: white;
  padding: 13px 30px;
}

#gnb > li:hover > a {
  background: #333;
}

#article {
	margin-top : 50px;
  width: 100%;
}

section {
  width: 1440px;
  margin: 0 auto;
}

#slide {
  position: relative;
  overflow: hidden;
  height: 400px;
}

#slide a {
  position: absolute;
  left: 100%;
}

#slide img {
  width: 1300px;
  height: 400px;
}

#slide > a:first-child {
  left: 0;
}

footer {
  width: 1440px;
  margin: 0 auto;
}


#notice {
  display: flex;
  justify-content: center;
  background: rgb(180, 177, 222);
}

#notice > li > a {
  display: block;
  background: rgb(180, 177, 222);
  color: white;
  padding: 12px;
  margin-right: 86vh;
}

#notice li:hover > a {
  background: #333;
}

#copy {
  width: 1300px;
  margin: 0 auto;
}

#copy p {
  display: flex;
  padding: 30px 10px;
} */
