<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diary.mapper">  
<select id="list" resultType="diary.DiaryVO">
	select * from master_baby_care_tbl where BABY_ID=#{id} and DIARY_DATE = #{date} order by END_TIME DESC, DIARY_ID DESC
</select>
<select id="list_cate" resultType="diary.DiaryVO">
	select * from master_baby_care_tbl where BABY_ID=#{id} and DIARY_DATE = #{date} and DIARY_DATE = #{diary_date} order by END_TIME DESC, DIARY_ID DESC
</select>
<insert id="insert">
	insert into MASTER_BABY_CARE_TBL(DIARY_ID,BABY_ID,DIARY_DATE,AMOUNT,START_TIME,TEMPERATURE,MEMO,END_TIME,BABY_CATEGORY,DIARY_TYPE)
VALUES (seq_diary_id.nextval,#{baby_id},#{diary_date},#{amount,jdbcType=VARCHAR},#{start_time},#{temperature,jdbcType=VARCHAR},#{memo,jdbcType=VARCHAR},#{end_time},#{baby_category},#{diary_type,jdbcType=VARCHAR})
</insert>
<select id="detail" resultType="diary.DiaryVO">
	select * from master_baby_care_tbl where DIARY_ID=#{no}
</select>
<delete id="delete">
	delete from master_baby_care_tbl where DIARY_ID = #{diary_id} and BABY_ID = #{baby_id}
</delete>
<update id="update">
	update master_baby_care_tbl set
	AMOUNT = #{amount,jdbcType=VARCHAR},
	START_TIME = #{start_time},
	TEMPERATURE = #{temperature,jdbcType=VARCHAR},
	MEMO = #{memo,jdbcType=VARCHAR},
	END_TIME = #{end_time,jdbcType=VARCHAR},
	DIARY_TYPE = #{diary_type,jdbcType=VARCHAR}
	where DIARY_ID = #{diary_id} and BABY_ID = #{baby_id}
</update>
</mapper>