<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="join.mapper">  
	
<select id="id_check" resultType="int">
	select count(*) from	MASTER_USER_INFO_TBL where id = #{id}
</select>
	
	
<insert id="babyjoin">
	INSERT INTO MASTER_BABY_INFO_TBL ( BABY_ID, TITLE, BABY_NAME, BABY_BIRTH, BABY_PHOTO, BABY_GENDER, ID )
	VALUES ( #{baby_id} ,#{ title },#{ baby_name },#{ baby_birth },#{ baby_photo, jdbcType=VARCHAR },#{ baby_gender },#{ id } )
</insert>	

<insert id="invite_login">
	insert into MASTER_FAMILY_INFO_TBL (TITLE,ID,FAMILY_RELS)
	values (#{title} ,#{ id },#{ family_rels })
</insert>
	
	
	
	<!-- insert into MASTER_USER_INFO_TBL (id, pw)
	values ( #{id} , #{pw} ) -->
<insert id="userjoin">
	INSERT ALL 
	INTO MASTER_USER_INFO_TBL (id, pw)
	VALUES( #{id}, #{pw} ) 
	INTO MASTER_FAMILY_INFO_TBL (id, title, family_rels )
	VALUES( #{id},#{title},#{family_rels} ) 
	SELECT 1 from dual
</insert>
</mapper>