<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sns.mapper">  



<delete id="delete">
delete 
from MASTER_GROWTH_TBL g
where g.gro_no in (select i.gro_no
                from MASTER_GRO_IMG_TBL i
                where g.gro_no = #{gro_no})
</delete>

<update id="update">
update 
</update>

<select id="list" resultType="sns.GrowthVO">
select g.* , i.gro_img
from MASTER_GROWTH_TBL g left outer join MASTER_GRO_IMG_TBL i 
on g.gro_no = i.gro_no
where g.baby_id = #{baby_id}
AND i.gro_img is not null
order by g.gro_no desc
</select>

<insert id="insert">
DECLARE V_TEMP_growth_no number;
BEGIN
SELECT seq_growth_no.nextval INTO V_TEMP_growth_no FROM DUAL;
insert all 
INTO  MASTER_GROWTH_TBL (gro_no, gro_date, gro_content, baby_name, baby_gender, baby_id) 
VALUES (V_TEMP_growth_no, sysdate, #{gro_content, jdbcType=VARCHAR}, #{baby_name}, #{baby_gender}, #{baby_id})
<foreach collection="imgList" item="item" index="i"> 
into MASTER_GRO_IMG_TBL (gro_no,  gro_img, filename, baby_id)
values (V_TEMP_growth_no, #{item, jdbcType=VARCHAR}, #{filename, jdbcType=VARCHAR}, #{b_id})
</foreach>
SELECT 1 FROM DUAL;
END;
</insert>

<select id="check" resultType="integer">
	SELECT COUNT(*) 
	FROM MASTER_GRO_IMG_TBL
	WHERE FILENAME = #{filename}
</select>


</mapper>