<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storage.mapper">  
<select id="cntbody" resultType="storage.BabyStorVO">
	select * from (select * from master_baby_storage_tbl where baby_id = #{baby_id, jdbcType=VARCHAR} order by stor_date desc) where rownum = 1
</select>
<insert id="insert">
	insert into master_baby_storage_tbl(STOR_ID, BABY_ID, STOR_DATE, STOR_KG, STOR_CM) 
	values(seq_stor_id.nextval, #{baby_id}, #{stor_date}, #{stor_kg}, #{stor_cm})
</insert>
<select id="select" resultType="storage.BabyStorVO">
	select * from master_baby_storage_tbl where baby_id = #{id} and stor_date = #{date}
</select>
<update id="update">
	update master_baby_storage_tbl set
	STOR_KG = #{stor_kg},
	STOR_CM = #{stor_cm}
	where STOR_ID = #{stor_id}
</update>
<select id="select_heat" resultType="diary.DiaryVO">
	select * from MASTER_BABY_CARE_TBL where baby_id = #{baby_id} order by stor_date desc
</select>
<select id="select_body" resultType="storage.BabyStorVO">
	select * from master_baby_storage_tbl where baby_id = #{baby_id} order by stor_date desc
</select>
</mapper>