<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storage.mapper">  
<select id="cntbody" resultType="storage.BabyStorVO">
	select * from (select * from master_baby_storage_tbl where baby_id = #{baby_id, jdbcType=VARCHAR} order by stor_date desc) where rownum = 1
</select>
</mapper>