<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper">  


<select id="login" resultType="user.UserVO">
	select * from MASTER_USER_INFO_TBL where id=#{id} and pw=#{pw}
</select>

<select id="titlelist" resultType="String">
	select title from master_family_info_tbl where id=#{id}
</select>

<insert id="join">
	insert into MASTER_USER_INFO_TBL(ID,PW,NAVER_ID,KAKAO_ID)
	values(#{id},#{pw},#{naver_id,jdbcType=VARCHAR},#{kakao_id,jdbcType=VARCHAR})
</insert>

<select id="loginn" resultType="user.UserVO">
	select * from MASTER_USER_INFO_TBL where id = #{ id } and pw =#{ pw }
</select>

<select id="social_login" resultType="Integer">
	select count(*) from MASTER_USER_INFO_TBL where id = #{ id }
</select>


</mapper>